@page
@model Chitic_Valentina_Web_App.Pages.WeatherTypes.IndexModel

@{
    ViewData["Title"] = "Weather Types";
}

<h1>Weather</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Weather[0].WeatherType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Weather) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WeatherType)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
