@page
@model Chitic_Valentina_Web_App.Pages.Plants.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Plant</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plant.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plant.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plant.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plant.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plant.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plant.Price)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Plant.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
