@page "/{id:int?}"
@model Chitic_Valentina_Web_App.Pages.Plants.IndexModel

@{
    ViewData["Title"] = "Plants";
}

<h1>Plants</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Plant[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plant[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plant[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plant[0].PlantCategories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plant[0].Weather.WeatherType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plant[0].Watering.WateringPer)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PlantD.Plants)
        {
            string selectedRow = "";
            if (item.ID == Model.PlantID)
            {
                selectedRow = "table-success";
            }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @{
                    foreach (var category in item.PlantCategories)
                    {
                        @category.Category.ID @: @category.Category.CategoryName <br />
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weather.WeatherType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Watering.WateringPer)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a>
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a>
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
